.vscode
.idea
build*
!build_linear_system.cu
install*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CMakeUserPresets.json
CTestTestfile.cmake
_deps
