[submodule "thirdparty/Eigen3"]
	path = thirdparty/Eigen3
	url = https://gitlab.com/libeigen/eigen.git
	shallow = true
[submodule "thirdparty/gflags"]
	path = thirdparty/gflags
	url = https://github.com/gflags/gflags
	shallow = true
